aiohttp
aiosignal
altgraph
aniso8601
async-timeout
attrs
blinker
certifi
charset-normalizer
click
colorama
DAWG-Python
docopt
exceptiongroup
Flask
Flask-Login
Flask-RESTful
Flask-WTF
frozenlist
greenlet
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe
multidict
numpy
packaging
pefile
Pillow
pip
pluggy
pygame
pygame-widgets
pyglet
pyinstaller
pyinstaller-hooks-contrib
pymorphy2
pymorphy2-dicts-ru
PyQt5
PyQt5-Qt5
PyQt5-sip
pytest
pytz
pywin32-ctypes
requests
schedule
setuptools
six
SQLAlchemy
SQLAlchemy-serializer
tomli
typing_extensions
urllib3
Werkzeug
WTForms
yarl    