aiohttp
aiosignal
altgraph
async-timeout
attrs
blinker
certifi
charset-normalizer
click
DAWG-Python
docopt
exceptiongroup
Flask
Flask-Login
Flask-RESTful
Flask-WTF
Jinja2
MarkupSafe
multidict
packaging
pefile
Pillow
pip
pyinstaller
pyinstaller-hooks-contrib
pytz
pywin32-ctypes
requests
schedule
setuptools
six
SQLAlchemy
SQLAlchemy-serializer
Werkzeug
WTForms
yarl    